body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

header {
    background: #031641;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #aa1515;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
